body{
    margin: 0;
    padding: 0;
    background-color: gray;
}

header{
    display: flex;
    background-color: black;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.col-50{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;  
}

.header-container{
    justify-content: flex-end;
}

.header-container-links{
    word-spacing: 10px;
    font-size: 20px;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-links a{
    text-decoration: none;
    color: aliceblue;
}

.container{
    background-color: #a9ce40;
    height: 50px;
    width: 100%;
}

.nav-container a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}
