body{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

header{
    display: flex;
    background-color: black;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.col-50{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;  
}

.header-container{
    justify-content: flex-end;
}

.header-container-links{
    word-spacing: 10px;
    font-size: 20px;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-links a{
    text-decoration: none;
    color: aliceblue;
}

.container{
    background-color: #629bd3;
    height: 50px;
    width: 100%;
}

.nav-container a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}

.nav-container{
    width: 100%'';
    display: flex;
    align-content: center;
    flex-direction: row;
    padding: 5px;
}

.left75{
    width: 65%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.right25{
    width: 35%;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Daqui pra baixo é sobre o blocos*/

.container-bloco{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container-bloco a{
    text-decoration: none;
    color: black;
}

.bloco-1{

}

.bloco-1 img{
    width: 60%;
}

.bloco-2{

}

.bloco-2 img{
    width: 60%;
    padding-top: 20px;

}

.bloco-3{

}

.bloco-3 img{
    width: 60%;
    
}