body{
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    background-color: black;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.col-50{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;  
}

.header-container{
    justify-content: flex-end;
}

.header-container-links{
    word-spacing: 10px;
    font-size: 20px;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-links a{
    text-decoration: none;
    color: aliceblue;
}

/* Acima é tudo sobre o header*/

.container-nav{
    background-color: #629bd3;
    height: 50px;
    width: 100%;
}

.nav-container a{
    text-decoration: none;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

.nav-container{
    width: 100%'';
    display: flex;
    align-content: center;
    flex-direction: row;
    padding: 10px;
}

.left75{
    width: 65%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.left75 input{
    width: 300px;
}

.right25{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

/* Abaixo style do cadastro*/

.container-main{
  width: 65%;
  padding: 100px;
  margin-left: 180px;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.container{
    background-color: #629bd3;
    margin-top: 50px;
    border: 10px;
}

h1{
    font-family: "Bowlby One SC", sans-serif;
    font-size: 50px;
}

p{
    font-size: 20px;
}

input[type=text], input[type=name], input[type=user] {
  width: 97%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password], input[type=user]:focus {
  background-color: #ddd;
  outline: none;
} 

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px){
.cancelbtn, .signupbtn {
  width: 100%;
}
}

/* Footer */

footer{
  background: #629bd3;
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
}

.boxs{
  width: 320;
  min-height: 150px;
  color: black;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxs:nth-child(4){
  width: 400px;
}

.boxs a{
  text-decoration: none;
  color: black;
}

.boxs ul li{
  margin: 10px 0px;
  list-style: none;
}

.boxs ul li a{
  color: rgb(39, 39, 39);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxs p{
  font-size: 16px;  
}

.boxs ul li a:hover {
  color: black;
}

.footer{
  background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials{
  word-spacing: 10px;
  font-size: 20px;
  padding: 25px;
}
